<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=983bd851-77c6-4777-928a-a486004cb3c1.sqlserver.sequelizer.com;Database=db983bd85177c64777928aa486004cb3c1;User ID=plngquzoyvbmrspy;Password=Cqz2sFsLw7Mh7yc7dg4Kw7tUxVfw2vbnVTWvPoGdi4ZNjVHFWfAHWaJE6MCDz5Ta;" />
  </connectionStrings>
</configuration>